@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

.clearfix::before,
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

a{
    text-decoration: none;  
    color: white;
}
li{
    list-style: none;
}

body{
    background-color: lightgray;
}

.all{
    position: relative;
    background-color: rgb(3, 3, 31);
    left: 28px;
    top: 20px;
    width: 96%;
    height: 94%;
    border-radius:15px ;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.452);
    padding: 2rem;
}



.nav{
    position: relative;
}

.menu{
    position: relative;
    display: flex;
    
}

.logo h3{
position: relative;
left: 60px;
bottom: 80px;
}

.logo h3:hover{
    color: lightgray;
}

.logo .img{
    position: relative;
    bottom:38px;
}

.menu ul{
    position: relative;
  display: flex; 
}
.menu li{
    padding: 2rem ;
    position: relative;
    left: 500px;
    bottom: 10px;
}

.menu ul li a:hover{
    color: lightgray;
}

.menu ul li i:hover{
    color: #228B22
}



.icon{
    position: relative;
    font-size: 3rem;
    bottom: 20px;
}


.xog{
    position: relative;
    display: flex;
    
}

.dalab{
    position: relative;
    color: white;
    padding: 1rem;
    top: 50px;
}

.kow{
    font-family: cursive;
    color: lightblue;
}

.labo{
    font-family: cursive;
    color: rgba(173, 216, 230, 0.486);
}

.sadax{
    font-family: cursive;
    color: white;
}

.carwooyin{
display: flex;
flex-direction: flex;
position: relative;
left: 24px;
flex-wrap: wrap;
background-color: gray;
width: 60%;
height:390px;
padding: 2rem;
border-radius: 10px;
box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.075);
box-sizing: border-box;
justify-content: space-around;
}

.carwo-img{
    position: relative;
    bottom: 3px;
    border-radius: 6px;
    background-position: center;
    /* box-shadow:  0 1rem 1rem 1rem rgba(255, 255, 255, 0.24) ; */

    
    
}

.carwo-h4{
    position: relative;
    color: black;
    font-size: 0.90rem;
    top: -5px;
    right: 4px;
    text-align: center;
}
.carwo{
    position: relative;
    padding: 1rem;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);
   background-color: rgba(255, 255, 255, 0);
   width: 20%;
   height: 40%;
   border-radius: 10px;
box-sizing: border-box;
right: 20px;
}
.carwo2{
    position: relative;
    padding: 1rem;
    left: -10px;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);
   background-color: rgba(255, 255, 255, 0);
   width: 20%;
   height: 40%;
   border-radius: 10px;

}
.carwo3{
    position: relative;
    padding: 1rem;
    left: -2px;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);
   background-color: rgba(255, 255, 255, 0);
   width: 20%;
   height: 40%;
   border-radius: 10px;

}
.carwo4{
    position: relative;
    padding: 1rem;
    left: 5px;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);
   background-color: rgba(255, 255, 255, 0);
   width: 20%;
   height: 40%;
   border-radius: 10px;

}
.carwo5{
    position: relative;
    padding: 1rem;
    left: 13px;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);
   background-color: rgba(255, 255, 255, 0);
   width: 20%;
   height: 40%;
   border-radius: 10px;

}
.carwo6{
    position: relative;
    padding: 1rem;
    left: 13px;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);
   background-color: rgba(255, 255, 255, 0);
   width: 20%;
   height: 40%;
   border-radius: 10px;
   left: -20px;

}
.carwo7{
    position: relative;
    padding: 1rem;
    left: -10px;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);
   background-color: rgba(255, 255, 255, 0);
   width: 20%;
   height: 40%;
   border-radius: 10px;

}
.carwo8{
    position: relative;
    padding: 1rem;
    left: -2px;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);
   background-color: rgba(255, 255, 255, 0);
   width: 20%;
   height: 40%;
   border-radius: 10px;

}
.carwo9{
    position: relative;
    padding: 1rem;
    left: 5px;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);
   background-color: rgba(255, 255, 255, 0);
   width: 20%;
   height: 40%;
   border-radius: 10px;

}
.carwo10{
    position: relative;
    padding: 1rem;
    left: 13px;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);
   background-color: rgba(255, 255, 255, 0);
   width: 20%;
   height: 40%;
   border-radius: 10px;

}

.carwo:hover,
.carwo2:hover,
.carwo3:hover,
.carwo4:hover,
.carwo5:hover,
.carwo6:hover,
.carwo7:hover,
.carwo8:hover,
.carwo9:hover{
    background-color: lightgray;
}

/* items */

.items{

    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem;
    bottom: 30px;
    background-color: rgba(128, 128, 128, 0.5);
    height: 80%;
    border-radius: 10px;
   flex-direction: flex;
   justify-content: space-around;

    box-shadow: 0 1rem 1rem 1rem rgba(211, 211, 211, 0.089);
}

.item{
    color: lightgray;
    position: relative;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.137);
   background-color: rgba(255, 255, 255, 0);
   width: 13%;
   height: 40%;
   border-radius: 10px;
}

.item:hover{
    background-color: lightgray;
    color: black;
    box-shadow: none;
}

.item img:hover{
    border-radius: 12px;
    transition: 2px ease-in-out;

}


.item-h3{
    position: relative;
    top: 10px;

}

.topic{
    position: relative;
    z-index: 2;
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
    bottom: 50px;
}


.topic span{
    color: gray;
}